body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 96px;
}
.header-img{
    width: 64px;
    height: auto;
    border-radius: 50%;
    background-color: lightblue;
    margin: 8px;
}
.header-links a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.header-links{
    display: flex;
    gap: 16px;
    margin: 16px;
    align-items: center;
}

.content{
    display: flex;
    background-color: #1F2937;
    padding: 24px 96px;
    justify-content: space-between;
    gap: 32px;
    color: white;
}
.content .description button{
    background-color: #3882F6;
    border: 2px solid #3882F6;
    color: white;
    padding: 8px;
    border-radius: 12px;
}
.content img{
    width: 360px;
    height: 360px;
    border-radius: 25%;
}

.info{
    text-align: center;
}
.info .title{
    font-size: 36px;
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: 36px;
}
.sub-info img{
    width: 128px;
    height: 128px;
    border-radius: 12px;
    border: 2px solid lightblue;
}
.info-container{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 36px;
}
.sub-info{
    max-width: 200px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 36px 96px;
    align-items: center;
}
.quote .quote-container{
    max-width: 800px;
}
.quote-a{
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
    color: #6b6f76;
}
.quote p{
    text-align: right;
    font-size: 18px;
}

.alert{
    padding: 64px;
}
.sub-alert{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    border-radius: 24px;
    color: white;
}
.text h4{
    margin-bottom: 4px;
    font-size: 18px;
}
.text p{
    margin-top: 4px;
    font-size: 16px;
}
.sub-alert button{
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    margin: 32px 0;
    border-radius: 12px;
}

.footer{
    display: flex;
    gap: 8px;
    color: white;
    justify-content: center;
    background-color: #1F2937;
    padding: 24px;
    font-size: 18px;
}
.footer a{
    text-decoration: none;
    color: white;
}